body {
  background-color: #e9f1fa;
  font-family: "Poppins", sans-serif;
}
.iconAttributes > * {
  font-size: 10px;
  bottom: 0;
}

.navbarContainer {
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

.homeProfilePicture {
  clip-path: circle();
  height: 13rem;
  width: 13rem;
}

.techIcon > svg,
#nodeIcon {
  width: 8rem;
  height: 8rem;
}

#nodeIcon {
  margin: 0 auto;
  display: block;
}

.allIconsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  row-gap: 2.5rem;
  padding: 1rem;
}

.homeContainer h3 {
  margin: 0;
}

.iconAndName {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconAndName > img {
  display: flex;
  align-items: center;
  height: 100%;
}

.aboutContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.resumeButton {
  background-color: #00abe4;
  color: black;
  border: none;
  padding: 1rem;
  border-radius: 10rem;
}

.emailButton > svg {
  height: 3rem;
  width: 3rem;
  color: #00abe4;
}
.linkedinButton > svg {
  height: 3rem;
  width: 3rem;
  color: #0072b1;
}
.resumeButton:hover,
.emailButton:hover,
.linkedinButton > svg:hover {
  cursor: pointer;
  opacity: 80%;
}

.aboutDescription {
  padding-left: 5rem;
}

.homeContainer > h3 {
  text-align: center;
  margin: 0;
}

#javascriptIcon {
  color: #ffd600;
  background-color: black;
}
#reactIcon {
  color: #61dbfb;
}

#reduxIcon {
  color: #7e57c2;
}

#springIcon {
  color: #8bc34a;
}

#nodeIcon {
  color: #388e3c;
}

#sqlIcon {
  color: #3b4549;
}
#postgresIcon,
#mysqlIcon,
#javaIcon {
  width: 10rem;
  height: 10rem;
}
#mongoIcon {
  color: #589636;
}

#htmlIcon {
  color: #e65100;
}

#cssIcon {
  color: #039be5;
}

#firebaseIcon {
  color: #ff8f00;
}

.contactContainer {
  padding: 3rem;
  height: 70vh;
}
.buttonContainer {
  display: flex;
  align-items: center;
  padding: 3rem;
}
.contactContainer > h1 {
  text-align: center;
  margin-bottom: 3rem;
}
.linkedinButtonAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
}

.emailButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.headshotAndBio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15rem;
}

.projectsHeader {
  text-align: center;
}

.projectImage {
  height: auto;
  width: 100%;
  max-width: 25rem;
}

.projectTitle {
  padding: 1rem;
}

.projectListItemContainer {
  display: flex;
  list-style-type: none;
  max-height: fit-content;
  align-items: center;
}

.projectDescription {
  width: 50rem;
  max-width: fit-content;
  margin-top: 1.5rem;
}
.titleAndImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.twitterTitle {
  padding: 2rem;
}

.aboutSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.aboutParagraph {
  width: 40rem;
  max-width: fit-content;
  padding: 0.8rem;
}
.nameOnHomepage {
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.error {
  color: #e7195a;
  position: absolute;
  left: 5;
  top: 20rem;
}

.aboutParagraph,
.projectsContainer *,
.aboutSectionContainer h1,
.allIconsContainer * {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.projectImage:hover {
  opacity: 70%;
}

.loadingScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 2rem;
  font-weight: 600;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: black;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1250px) {
  .projectListItemContainer {
    flex-direction: column;
    align-items: center;
  }
  .projectDescription {
    width: 25rem;
    margin-top: 0;
  }

  .allProjects {
    padding: 0;
  }
}

@media (max-width: 800px) {
  .navbarContainer > * {
    font-size: 0.8rem;
  }

  .navbarContainer {
    padding: 0;
  }
  .resumeButton {
    height: 1.5rem;
    width: 2.5rem;
    border-radius: 10rem;
    font-size: 0.5rem;
    padding: 0.7rem;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .aboutContainer {
    flex-direction: column;
    text-align: center;
  }
  .aboutDescription {
    padding-left: 0;
  }

  .titleAndImage {
    padding: 0;
  }
}

@media (max-width: 400px) {
  .allProjects {
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .buttonContainer {
    flex-direction: column;
    height: 25rem;
    padding: 0;
    padding-top: 0.7rem;
  }
  .contactContainer,
  .buttonContainer {
    padding: 0;
  }

  .contactContainer > h1 {
    margin-bottom: 2rem;
  }
}