body {
  background-color: #e9f1fa;
  font-family: "Poppins", sans-serif;
}

.iconAttributes > * {
  font-size: 10px;
  bottom: 0;
}

.navbarContainer {
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.navbarLink {
  display: inline-block;
  position: relative;
}

.navbarLink::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbarLink:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a {
  text-decoration: none;
  color: black;
}

.homeProfilePicture {
  clip-path: circle();
  height: 13rem;
  width: 13rem;
}

.techIcon > svg,
#nodeIcon {
  width: 8rem;
  height: 8rem;
}

#nodeIcon {
  margin: 0 auto;
  display: block;
}

.allIconsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  row-gap: 2.5rem;
  padding: 1rem;
}

.homeContainer h3 {
  margin: 0;
}
.homeContainer {
  margin-top: 1rem;
}

.iconAndName {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconAndName > img {
  display: flex;
  align-items: center;
  height: 100%;
}

.aboutContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.emailButton > svg {
  height: 3rem;
  width: 3rem;
  color: #00abe4;
}
.linkedinButton > svg {
  height: 3rem;
  width: 3rem;
  color: #0072b1;
}

.emailButton > svg:hover,
.linkedinButton > svg:hover {
  cursor: pointer;
  opacity: 80%;
}

.aboutDescription {
  padding-left: 5rem;
}

.homeContainer > h3 {
  text-align: center;
  margin: 0;
}

#javascriptIcon {
  color: #ffd600;
  background-color: black;
}
#reactIcon {
  color: #61dbfb;
}

#reduxIcon {
  color: #7e57c2;
}

#springIcon {
  color: #8bc34a;
}

#nodeIcon {
  color: #388e3c;
}

#sqlIcon {
  color: #3b4549;
}
#postgresIcon,
#mysqlIcon,
#javaIcon {
  width: 10rem;
  height: 10rem;
}
#mongoIcon {
  color: #589636;
}

#htmlIcon {
  color: #e65100;
}

#cssIcon {
  color: #039be5;
}

#firebaseIcon {
  color: #ff8f00;
}

.contactContainer {
  padding: 3rem;
  height: 73vh;
}
.contactIconParent div:hover {
  cursor: pointer;
}
.contactIconParent li a,
.contactIconParent li div {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 2rem;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.contactIconParent li a .icon,
.contactIconParent li div .icon {
  position: relative;
  color: #3c4043;
  transition: 0.5s;
  z-index: 3;
}

.contactIconParent li a:hover .icon,
.contactIconParent li div:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}
.contactIcon::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.contactIcon:hover::before {
  top: 0;
}

.contactIcon::before {
  background: #0077b5;
}

.contactIconParent {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}

.contactIconParent li:nth-child(2) a:before {
  background: black;
}

.contactIconParent li:nth-child(3) div:before {
  background: #dd4b39;
}
.buttonContainer {
  display: flex;
  align-items: center;
  padding: 3rem;
}
.contactContainer > h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.headshotAndBio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15rem;
}

.projectsHeader {
  text-align: center;
}

.projectImage {
  height: auto;
  width: 100%;
  max-width: 25rem;

  cursor: pointer;
}

.projectTitle {
  padding: 1rem;
}

.projectListItemContainer {
  display: flex;
  list-style-type: none;
  max-height: fit-content;
  align-items: center;
}

.projectDescription {
  width: 50rem;
  max-width: fit-content;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.titleAndImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.twitterTitle {
  padding: 2rem;
}

.aboutSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.aboutParagraph {
  width: 40rem;
  max-width: fit-content;
  padding: 0.8rem;
}
.nameOnHomepage {
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.error {
  color: #e7195a;
  position: absolute;
  left: 5;
  top: 20rem;
}

.aboutParagraph,
.projectsContainer *,
.aboutSectionContainer h1,
.allIconsContainer * {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.readMoreButtonContainer {
  display: flex;
}
.readMoreButton {
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.readMoreButton:hover {
  background: #f6f9fe;
}

.readMoreButton:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.twitterText > p,
.emrText > p,
.waldoText > p {
  margin-top: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.projectImage:hover {
  opacity: 0.7;
}

.loadingScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 2rem;
  font-weight: 600;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: black;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1250px) {
  .projectListItemContainer {
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  }
  .projectDescription {
    width: 26.5rem;
    margin-top: 0;
  }
  .readMoreButtonContainer {
    text-align: center;
  }

  .allProjects {
    padding: 0;
  }
}

@media (max-width: 800px) {
  .navbarContainer > * {
    font-size: 0.8rem;
  }

  .navbarContainer {
    padding: 0;
  }
}

@media (max-width: 700px) {
  .aboutContainer {
    flex-direction: column;
    text-align: center;
  }
  .contactIconParent {
    flex-direction: column;
  }
  .contactIconParent li a,
  .contactIconParent li div {
    margin: 2rem 0;
  }
  .contactContainer {
    height: 80vh;
  }
  .homeContainer {
    margin-top: 1rem;
  }

  .aboutDescription {
    padding-left: 0;
    margin-top: 2rem;
  }

  .titleAndImage {
    padding: 0;
  }
}

@media (max-width: 400px) {
  .allProjects {
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .buttonContainer {
    flex-direction: column;
    height: 25rem;
    padding: 0;
    padding-top: 0.7rem;
  }
  .contactContainer,
  .buttonContainer {
    padding: 0;
  }

  .contactContainer > h1 {
    margin-bottom: 2rem;
  }
}
